<div class="row">
<div class="span3 offset8">

    <%= image_tag 'crash.png' %> <br>
    <h4 id='welcome-message'>Welcome CrashPadder!</h4>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success btn-block', id: 'button1' %><br>
    <span>or &nbsp</span><%= link_to 'Log In', new_user_session_path %> 
</div>    
</div>