<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   <h3 id="myModalLabel">Add a New Category</h3>
 </div>
 <div class="modal-body">
  <%= simple_form_for [@category, @item] do |f| %>
  <%= f.input :name %>
  <%= f.submit 'Submit' %>
<% end %> 
 </div>
</div>